<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OpenLogFlag" value="true" />
    <add key="Log4Net" value="true" />
    <add key="Redis" value="false" />
    <add key="MySql" value="false" />
    <add key="Oracle" value="false" />
    <add key="MongoDB" value="false" />
  </appSettings>
</configuration>